/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	font-family: helvetica, arial, sans-serif;
	width: 700px;
	margin: 0px auto;
	font-size: 24px;
	line-height: 150%;
	background-color: #eee;
}

h1 {
	letter-spacing: -3px;
}

label {
	font-weight: bold;
}

.range {
	padding-left: 0px;
	list-style-type: none;
}

input[type=text] {
	font-size: 24px;
	line-height: 160%;	
	padding-left: 5px;
}

input[type=submit] {
	font-size: 24px;
}

footer {
	border-top: 1px solid #ccc;
	line-height: 24px;
	font-size: 16px;
}

